.contenedor{
	width: 100%;
	height: 500px;
	font-family: arial;
	text-align: center;
	margin-top: 250px;
}
.izquierda, .derecha{
	width: 50%;
	height: 400px;
	float: left;
}
.derecha{
	background: transparent;
}
.izquierda{
	background: #ccc;
}
.left, .center, .right{
	padding-top:50px;
	width: 33.33%;
	height: 100%;
	float: left;
}
.left{
	background: #ccc;
}
.center{
	background: #ddd;
}
.right{
	background: white;
}